* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b1522;
    height: 100vh;
    overflow: hidden;
}

/* Snow canvas */
#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Center content */
.container {
    text-align: center;
    color: white;
    margin-top: 18vh;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}

p {
    margin-top: 10px;
    font-size: 1.3rem;
    opacity: 0.8;
}

.buttons {
    margin-top: 30px;
}

.btn {
    padding: 12px 25px;
    background: #ffffff;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
    transition: 0.2s;
}

.btn:hover {
    background: #dcdcdc;
}

.secondary {
    background: #2e9bff;
    color: white;
}

.secondary:hover {
    background: #1b6bb8;
}
